click<8.1.8
pydicom
numpy==1.26.4
pandas
openpyxl
pendulum
pillow
python-gdcm
torch
torchvision
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-io-gcs-filesystem>=0.31
scipy